<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GervaAppDonuts"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GervaAppDonuts">

        <!-- Telas já existentes -->
        <activity android:name=".CadastroUsuarioActivity" />
        <activity android:name=".ListaUsuariosActivity" />

        <!-- Novas telas adicionadas -->
        <activity android:name=".CadastroProdutoActivity" />
        <activity android:name=".ListaProdutosActivity" />
        <activity android:name=".CadastroVendaActivity" />
        <activity android:name=".ListaVendasActivity" />
        <activity android:name=".ui.DetalhesVendaActivity" />
        <activity android:name=".ui.LucroDoMesActivity" />
        <activity android:name=".ui.HistoricoComprasActivity" />

        <!-- MainActivity com launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.gervaappdonuts.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
</manifest>